*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #0e8bff;
    --primary-color-dark:#0e6fca;
}

/* .screen{
    width: 100%;
    display: flex;
    flex-wrap: wrap
} */
.pixel{
    display: inline-table;
}
.pixel:hover{
   opacity: .5;
}

.start{
    position: absolute;
    z-index: 0;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.start:hover{
    background-color: var(--primary-color-dark);
}

.row{
    display: block;
    margin: -4px;
}